@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary: #c90008;
}

.landing1 {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
    url("../../Assets/annie-spratt-bB0EsYazzXY-unsplash.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Roboto", sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  display: block;
}

.landing1_content {
  width: 100%;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -70%);
  color: #eee;
  text-align: center;
}

.landing1_img {
  width: 70vw;
  max-width: 600px;
  pointer-events: none;
  z-index: -1;
}
.landing1_content h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: lighter;
  font-size: 72px;
  letter-spacing: 2px;
}

.landing1_content p {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: lightgray;
  width: 50%;
  margin: auto;
  padding: 10px;
}

.landing1_links {
  display: flex;
  margin: auto;
  justify-content: space-around;
  width: 25%;
}

.landing1_links button {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
  background: transparent;
  padding: 10px;
  margin: 20px auto;
  font-size: 20px;
  transition: all 0.5s ease;
  max-width: 250px;
}

.landing1_links a {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
  background: transparent;
  padding: 10px;
  margin: 20px auto;
  font-size: 20px;
  transition: all 0.5s ease;
  max-width: 250px;
}

#learn_more {
  border: 2px solid #ffffff;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.5s ease;
  font-weight: lighter;
}

#learn_more:hover {
  background: rgba(201, 0, 8, 0.3);
  cursor: pointer;
}

#support_victory_kitchen {
  background-color: transparent;
  border: 1px solid white;
}

#support_victory_kitchen:hover {
  cursor: pointer;
  background: rgba(201, 0, 8, 0.3);
}

@media screen and (max-width: 1605px) {
  .landing1_links button {
    font-size: 15px;
  }
  .landing1_links a {
    font-size: 15px;
  }

  .landing1_links {
    flex-direction: column;
  }

  .landing1_content {
    top: 60%;
  }
}

@media screen and (max-width: 1620px) {
  .landing1_links button {
    font-size: 15px;
  }

  .landing1_links a {
    font-size: 15px;
  }

  .landing1_content p {
    width: 60%;
  }

  .landing1_links {
    flex-direction: column;
    font-size: 20px;
  }
  .landing1_links button {
    font-size: 20px;
  }
  .landing1_links a {
    font-size: 20px;
  }

  .landing1_content {
    top: 60%;
  }
}

@media screen and (max-width: 1050px) {
  .landing1_content p {
    width: 90%;
  }
}

@media screen and (max-width: 650px) {
  * {
    padding: 0;
    margin: 0;
  }

  .landing1_img {
    height: auto;
    width: 95vw;
  }

  .landing1 {
    width: 100%;
    max-height: 100vh;
  }

  .landing1_content {
    top: 55%;
  }

  .landing1_content h1 {
    font-size: 45px;
  }
  .landing1_content p {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
  }
  .landing1_links {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .landing1_links button {
    font-size: 15px;
    width: 200px;
  }
  .landing1_links a {
    font-size: 15px;
    width: 200px;
  }
}
