* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .collapseMenu {
  background: white;
  position: absolute;
  right: 0;
  top: 80px;
  padding: 20px;
  z-index: 10;
} */

.collapseMenu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collapseMenu ul li a:hover {
  color: #c90008;
}

.collapseMenu ul li:hover {
  border-bottom: 1px solid lightgray;
}

@media screen and (min-width: 1001px) {
  .collapseMenu .nav_links {
    display: none;
  }
  .collapseMenu {
    display: none;
  }
}
