* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu_button {
  display: none;
  margin: 40px;
}

.menu_button div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
  pointer-events: none;
}

.toggle .menu_line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .menu_line2 {
  opacity: 0;
}
.toggle .menu_line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 1000px) {
  .menu_button {
    display: block;
  }
}
